extends ../../layout_font_end

block content
	.container
		h2(class="titleMtnIn") Populat competition
		.compet_main
			include contest/banner
			.artCompet
				.col_lfCompet
					.card_lfCompet
						h2(class="titleCard bgOrg fntBd")
							a(href="#") Prize
						.inCard
							h3(class="clorg fntBd") Prize
							ul(class="lstPri")
								li
									label(class="pullFlt_left")
										img(src="images/aw.png")
									p One 1st prize chosen by the Board of Director of GetJobDone
								li
									label(class="pullFlt_left")
										img(src="images/mey.png")
									p Value:
										b= " "+ resContestItem.budget +" " + resContestItem.currency_name
								li
									label(class="pullFlt_left")
										img(src="images/aw.png")
									p One entrant withh the highest vote
					.card_lfCompet
						h2(class="titleCard bgBle fntBd")
							a(href="") Deadline - important day
						.inCard
							ul(class="lstPri")
								li(class="dln")
									p(class="npad nmag") Deadline to submit
									p(class="npad nmag")
										if(resContestItem.day_begin!=undefined)
											b= resContestItem.day_begin
										else
											b 23/11/2014
								li(class="sod")
									p(class="npad nmag") Annountcement Day:
									p(class="npad nmag")
										if(resContestItem.day_begin!=undefined)
											b= resContestItem.day_end
										else
											b 23/11/2014
					.card_lfCompet
						h2(class="titleCard bgBle fntBd")
							a(href="") People
						.inCard
							.toLike
								label(class="clBle fntBd icoLike") 1985 likes
							.ctnLikeLf
								.useLike
									a(class="clBle fntBd", href="") Bao Khang Nguyen , 
									a(class="clBle fntBd", href="") Thang Tran
									| and 
									a(class="clBle fntBd", href="") Yukio 
									| and 
									a(href="") 8795 more 
									| like this.
								ul(class="lstLike")
									-	for(var i=0; i<18; i++)
											li
												a(href="", class="thumbsmLf")
													img(src="images/thumb2.jpg", alt="")
							.grp_cardLike
								p Share this contest to your friends
								.btn_grpLike
									a(href="", class="sndMail")
									button(class="shareFb npad")
										img(style="width:103px; height:26px",src="http://4.bp.blogspot.com/-G1Ljk9WpG4M/U432c8aZinI/AAAAAAAABUc/hfLj-P-xhXY/s1600/facebook_button-281x92.png")
					.card_lfCompet
						h2(class="titleCard bgBle fntBd")
							a(href="#") Recently proposals
						.lst_itemPosal
							ul(class="inItemPosal")
								-	for(var i=0; i<12; i++)
										li(class="thumbmdLf", href="")
											img(src="images/thumbComit.jpg")
					.card_lfCompet
						h2(class="titleCard bgBle fntBd")
							a(href="") SIMILAR CONTEST
						.lst_itemPosal
							ul(class="inItemPosal")
								-	for(var i=0; i<resSimilarContest.length; i++)
										li
											a(href="/contestdetail?id="+resSimilarContest[i]._id+"&tab=timeline&value="+resSimilarContest[i].project_name.replace(/ /g,"-")+"", class="thumbmdLf")
												if(resSimilarContest[i].image_avatar==undefined)
													img(src="images/thumbComit.jpg")
												else
													img(src='/upload/profile_avatar?type=resize&width=400&height=350&name='+resSimilarContest[i].image_avatar.public_id+'.'+resSimilarContest[i].image_avatar.format+'', alt="Web developer")
				.col_rtCompet
					form(method="post", action="/post_comment_contest", id="post-comment-contest")
						input(type='hidden', name="id_contest", value=""+resContestItem._id+"")
						input(type='hidden', name="id_file", value="0", id="id_file")
						input(type="hidden", id="contest_post_type", name="contest_post_type", value="0")
						.card_rtCompet
							.pst_rtCompet
								ul(class="labelPst")
									li
										a(href="", class="lnk_pst act_pstRt")
											span(class="icoLnkPst")
											| Post
									li
										a(href="", class="lnk_photoPst")
											span(class="icoLnkPhoPst")
											.post_com_up
												label Photo/Video
												input(type="file", multiple="true", name="ac_img[]", class="tc0_bt_img", id="photoimg-contest-comment")
							.wrtPst
								textarea(name="f_comment_contest", id="f_comment_contest", class="txtare", placeholder="Write something on this page", onkeyup="textAreaAdjust(this))
							.option_ac
								.oc_bt_lo
									button(type="submit", class="btnsubmit", id="bt_submit_contest") Submit
							.pcc_image_content
					-	for(var k=0; k<resComments.length;k++)
							.card_rtCompet.in_rtCard
								.auPst
									.avaJbData
										a(href="")
											img(src=""+resComments[k].user_image+"")
									.naPst.txtpst
										.auCmtpPst
											span
												a(href="", class="titPst coJob")= resComments[k].user_fullname
										.timePst
											span= resComments[k].time_sort
								.maPst
									.ctnPst_rtCm
										p= resComments[k].comment
									.thumbPst
										if(resComments[k].file!=undefined)
											if(resComments[k].file.length==1)
												a(href="", class="pstImg")
													.wdt_fitlg_1
														img(class="fitImg", src='/upload/contests?type=resize&width=600&height=400&name='+resComments[k].file[0].public_id+'.'+resComments[k].file[0].format+'')
											else if(resComments[k].file.length==2)
												a(href="", class="pstImg")
													.wdt_fitlg
														img(class="fitImg", src='/upload/contests?type=resize&width=400&height=400&name='+resComments[k].file[0].public_id+'.'+resComments[k].file[0].format+'')
												a(href="", class="pstImg")
													.wdt_fitlg
														img(class="fitImg", src='/upload/contests?type=resize&width=400&height=400&name='+resComments[k].file[1].public_id+'.'+resComments[k].file[1].format+'')
											else if(resComments[k].file.length==3)
												a(href="", class="pstImg")
													.wdt_fitlg_3
														img(class="fitImg", src='/upload/contests?type=resize&width=400&height=600&name='+resComments[k].file[0].public_id+'.'+resComments[k].file[0].format+'')
												-	for(var n=1;n<3;n++)
														a(href="", class="pstImg")
															.wdt_fitmd_3_3
																img(class="fitImg", src='/upload/contests?type=resize&width=200&height=150&name='+resComments[k].file[n].public_id+'.'+resComments[k].file[n].format+'')
											else if(resComments[k].file.length==4)
												a(href="", class="pstImg")
													.wdt_fitlg_1
														img(class="fitImg", src='/upload/contests?type=resize&width=600&height=400&name='+resComments[k].file[0].public_id+'.'+resComments[k].file[0].format+'')
												-	for(var n=1;n<4;n++)
														a(href="", class="pstImg")
															.wdt_fitmd
																img(class="fitImg", src='/upload/contests?type=resize&width=200&height=150&name='+resComments[k].file[n].public_id+'.'+resComments[k].file[n].format+'')
											else if(resComments[k].file.length==5)
												a(href="", class="pstImg")
													.wdt_fitlg
														img(class="fitImg", src='/upload/contests?type=resize&width=400&height=400&name='+resComments[k].file[0].public_id+'.'+resComments[k].file[0].format+'')
												a(href="", class="pstImg")
													.wdt_fitlg
														img(class="fitImg", src='/upload/contests?type=resize&width=400&height=400&name='+resComments[k].file[1].public_id+'.'+resComments[k].file[1].format+'')
												-	for(var n=2;n<5;n++)
														a(href="", class="pstImg")
															.wdt_fitmd
																img(class="fitImg", src='/upload/contests?type=resize&width=200&height=150&name='+resComments[k].file[n].public_id+'.'+resComments[k].file[n].format+'')
											else if(resComments[k].file.length>5)
												h1 Lon hon 5 hinh
									.poLike.clearfix.fntMd
										if(user)
											.pullFlt_left.lkCmSh
												-	var temp = 0
												if(resComments[k].list_like!=undefined)
													-	for(var x = 0; x<resComments[k].list_like.length; x++)
															if(resComments[k].list_like[x].user_id == user._id)
																-	temp = 1
												if(temp==0)
													span
														a(class="event_like_comment_contest clBle fntMd", href="javascript:void(0);", data-id=""+resComments[k]._id+"", data-type="like") Like
												span
													a(href="", class="clBle") Comment
												span
													a(href="", class="clBle") Share
										ul(class="grp_like clearfix pullFlt_right")
											li
												if(resComments[k].list_like!=undefined)
													a(href="", class="likeCompet clBle")= resComments[k].list_like.length
											li
												a(href="", class="cmtCompet clBle") 0
								.lstCmtPst
									ul(class="mainCmtPst")
										li(class="talLikePst")
											if(resComments[k].list_like!=undefined)
												if(resComments[k].list_like.length>3)
													.useLike
														-	for(var b=0; b<resComments[k].list_like.length; b++)
																a(class="clBle fntBd", href="#")= resComments[k].list_like[b].full_name + " "
																| , 
														| and 
														a(href="")= (resComments[k].list_like.length - 3) + "more "  
														| like this.
												else
													.useLike
														-	for(var b=0; b<resComments[k].list_like.length; b++)
																a(class="clBle fntBd", href="#")= resComments[k].list_like[b].full_name + " "
																| , 
														| like this.
										if(resComments[k].list_comment!=undefined)
											-	for(var m=0; m<resComments[k].list_comment.length; m++)
													li(class="ctn_lstPstCmt clearfix")
														.avaJbData
															a(href="")
																img(src=""+resComments[k].list_comment[m].user_avatar+"")
														.naPst.txtpst
															.auCmtpPst
																span 
																	a(href="", class="titPst clBle")= resComments[k].list_comment[m].full_name+ " "
																span(class="fntMd", style="margin-left:5px")= resComments[k].list_comment[m].content
															.timePst
																span 1 hours ago
										li(class="boxCmt clearfix")
											if(user)
												.avaJbData
													a(href="")
														img(src="images/avaPst.jpg")
												.areaPstCmt
													form(method="post", action="/store_comment_sub", class="form_comment_sub")
														input(type="hidden", name="comment_id", value=""+resComments[k]._id+"")
														textarea(class="herCmtPst", name="comment_nd", placeholder="Write a comment")
														input(type="submit", value="Send", class="bt_submit_comment_sub", style="display:none")
block scripts
	script(src='/javascripts/form-validators/jobContestValidator.js')
	script(src='/javascripts/form-validators/proposalContestValidator.js')
	script(src='/javascripts/views/contest_detail.js')
	link(rel='stylesheet', href='/stylesheets/style.css')