extends ../../layout_font_end

block content
	#content
		#form-post-job
			form(method="post", action="/addpostjob", id="post_job_form", enctype="multipart/form-data;utf-8")
				input(type="hidden", id="typeSubmitPlace", name="job_post_type", value="0")
				input(type="hidden", id="contest_post_f", name="contest_post_f", value="0")
				p
					span What work do you require?
					select(id="skill_category", name="skill_category")
						option(value="-1") Select a category of work (Optional)
						-	for(var i=0;i<resCategories.length;i++)
								option(value=""+resCategories[i]._id+"")= resCategories[i].name_en
					span(class="skill_category_help_err")
				p
					span Project name: 
					input(type="text", name="project_name", id="project_name", placeholder="What do you need done...")
					span(class="project_name_help_err")
				p
					#rp-attributes-content-cg
					.job_skill_hidden
						-	for(var i=0;i<resSkill.length;i++)
								input(type="hidden", class="skill_name", value=""+resSkill[i].name+"")
					span Enter some skills that relate to the project:
					.au_skill
						input(type="text", id="job_skill")
					span(class="job_skill_help_err")
				p
					span Describe your project in detail:
					textarea(name="job_description", id="job_description", style="width:97%")
					span(class="job_description_help_err")
				p(id="job_show_file_upload")
				p
					span Add file:
					input(type="file", id="job_post_file", name="files_job[]", multiple="", title="No files selected.", class="valid")
					span(class="job_post_file_help_err")
				p(class="job_post_file_content")
					
				p
					span Project type:
					input(id="hourlyBudgetPeriod_option", name="budgetPeriod", type="radio", value="1", checked)
					label I am looking to hire for a fixed price
					input(id="hourlyBudgetPeriod_option", name="budgetPeriod", type="radio", value="2")
					label I am looking to hire per hour
					span(class="budgetPeriod_help_err")
				p(id="currency_content")
					input(type="hidden", id="budget_from", name="budget_from", value="")
					input(type="hidden", id="budget_to", name="budget_to", value="")
					span Budget:
					select(name="currency", id="currency")
						-	for(var i=0; i<resCurrency.length;i++)
								if(resCurrency[i].is_default==0)
									option(value=""+resCurrency[i]._id+"", title=""+resCurrency[i].title+"")= resCurrency[i].name
								else
									option(value=""+resCurrency[i]._id+"", title=""+resCurrency[i].title+"", selected)= resCurrency[i].name
					select(name="budget", id="budget")
						-	for(var i=0; i<resCurrencyRange.length; i++)
								if(resCurrencyRange[i].is_default==0)
									option(value=""+resCurrencyRange[i]._id+"", from=""+resCurrencyRange[i].from+"", to=""+resCurrencyRange[i].to+"")= resCurrencyRange[i].name_en+'('+resCurrencyDefault.title+' '+(resCurrencyRange[i].from*resCurrencyDefault.rate_usd)+'-'+(resCurrencyRange[i].to*resCurrencyDefault.rate_usd)+' '+resCurrencyDefault.name+')'
								else
									option(value=""+resCurrencyRange[i]._id+"", from=""+resCurrencyRange[i].from+"", to=""+resCurrencyRange[i].to+"", selected)= resCurrencyRange[i].name_en+'('+resCurrencyDefault.title+' '+(resCurrencyRange[i].from*resCurrencyDefault.rate_usd)+'-'+(resCurrencyRange[i].to*resCurrencyDefault.rate_usd)+' '+resCurrencyDefault.name+')'
						option(value="custom") Customize budget
					input(type="hidden", class="re_currency_d", id="cu_title_selected", value=""+resCurrencyDefault.title+"")
					input(type="hidden", class="re_currency_d", id="cu_reteusd_selected", value=""+resCurrencyDefault.rate_usd+"")
				p(id="budget_custom", style="display:none")
				p
					span Estimated deadline in:
					input(type="text", class="deadline", name="deadline")
				p
					#lo-attributes-content-cg
					.job_location_hidden
						-	for(var i=0;i<resLocation.length;i++)
								input(type="hidden", class="location_name", value=""+resLocation[i].lo_name+"")
					span Enter some location:
					.au_location
						input(type="text", id="job_location")
					span(class="job_location_help_err")
				p
					table
						-	for(var i=0;i<resOptional.length;i++)
								tr
									td
										input(type="checkbox", name="chkbx_assisted[]", value=""+resOptional[i]._id+"")
									td
										icon-image
									td
										span= resOptional[i].title_en
									td(class="job_optional_price", data-price=""+resOptional[i].price+"")
										$29.00
				p
					input(type="submit", value="Post Project Now", id="rp-bt-action-form")
block script
	link(rel='stylesheet', href='/plugin/autocomplete/css/examples.css')
	link(rel='stylesheet', href='/plugin/autocomplete/css/jquery.tagit.css')
	link(rel='stylesheet', href='/plugin/autocomplete/css/tagit.ui-zendesk.css')
	script(src='/plugin/autocomplete/js/tag-it.js')
	script(src='/javascripts/form-validators/jobPostValidator.js')
	script(src='/javascripts/controllers/job_post.js')
	script(src='/javascripts/views/job_post.js')