extends ../../layout_font_end

block content
	.container
		if(user)
			input(type="hidden", id="user_id_profile", value=""+user._id+"")
		h2(class="titleMtnIn")= resUser.last_name+" "+resUser.first_name+"'s Profile"
		.compet_main
			.artCompet
				.in_artCompet
					.usDts
						.lf_usDts
							div(class="avaRtDts avaUs")
								a(href="#", class="inavaCompet")
									if(resUser.avatar.created_at!=undefined)
										img(src='/upload/profile_avatar?type=resize&width=200&height=200&name='+resUser.avatar.public_id+'.'+resUser.avatar.format+'')
									else
										img(src="images/228x190.jpg")
								if(user && user._id.toString()==resUser._id.toString())
									form(method="post", action="/change_avatar_profile_user", id="edit-event-profile-avatar")
										.change_pick_profile_up
											label Change picture
												input(id="photoimg-profile-avatar", type="file", name="photos")
										input(type='hidden', name="id_profile", value=""+resUser._id+"")
							.infoUs
								h4(class="titPst clorg")= resUser.last_name+" "+resUser.first_name
									if(user && user._id==resUser._id)
										a(href="#inlineEditUserName", class="item_edit_pro ctnIn edit fntBd", data-type="edit") [
											span(class="icoEdit")
											| Edit]
								if(resUser.skill_text!=undefined)
									p(class="crJb", style="display:none")= resUser.skill_text
										if(user && user._id==resUser._id)
											a(href="#inlineEditSkill", class="item_edit_pro ctnIn edit fntBd", data-type="edit") [
												span(class="icoEdit")
												| Edit]
								else
									p(class="crJb", style="display:none") Your skill...?
										if(user && user._id==resUser._id)
											a(href="#inlineEditSkill", class="item_edit_pro ctnIn edit fntBd", data-type="edit") [
												span(class="icoEdit")
												| Edit]
								span(class="staUs")
									if(resUser.slogan!=undefined)
										.as= resUser.slogan
									else
										| A perfect blend of creativity, energy, communication, clarity and restraint.
									if(user && user._id==resUser._id)
										a(href="#inlineEditSlogan", class="item_edit_pro ctnIn edit fntBd", data-type="edit") [
											span(class="icoEdit")
											| Edit]
						.rt_usDts
							ul(class="tabUs", style="width: 237px;")
								if(resUser.type==0)
									li
										a(href="#", class="tabFrl fntBd actTabs") Freelancer
									li
										a(href="#", class="tabEmp fntBd actTabs") Employer
								else if(resUser.type==1)
									li
										a(href="#", class="tabFrl fntBd actTabs") Freelancer
									li
										a(href="", class="tabEmp fntBd") Employer
								else
									li
										a(href="#", class="tabFrl fntBd") Freelancer
									li
										a(href="", class="tabEmp fntBd actTabs") Employer
							.rateUs
								h2(class="fntBd clBle naRate") Markisa
								h1(class="fntBd clBle pntRate") 4.5
								.lstStar
									span(class="fullStar")
									span(class="fullStar")
									span(class="fullStar")
									span(class="fullStar")
									span(class="fullStar")
								p (0 reviews)
								a(class="btnmore") View more
						em(class="lineVer")
				div(class="in_artCompet nbr")
					.boxInfoUs
						.col_lfUsDts
							.sumUs
								h5(class="clBle fntBd") Summary
									if(user && user._id==resUser._id)
										a(href="#inlineEditSumary", class="item_edit_pro ctnIn edit fntBd", data-type="edit") [
											span(class="icoEdit")
											|  Edit]
								if(resUser.summary!=undefined)
									p !{resUser.summary.replace(/\n?\r\n/g, '<br />' )}
								else
									p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
							.sumUs
								h5(class="clBle fntBd") Attitude
								.procInfo
									ul(class="lst_procInfo")
										li(class="echInfo")
											label(class="tit_echInfo") Completion rate
											b(class="perProc") 0%
											.brProc
												span(class="pshProc")
										li(class="echInfo")
											label(class="tit_echInfo") Completion rate
											b(class="perProc") 0%
											.brProc
												span(class="pshProc")
							.sumUs(style="display:none")
								h5(class="clBle fntBd") Top skill
								.skilUs
									.depSkilUs
										span(class="nuSkil") 20
										span(class="nameSkil") Graphic
									.lstSkilUs.pullFlt_right
										ul(class="lstLike")
											a(class="thumbsmLf", href="")
												img(src="images/thumb.jpg")
									em(class="lineHel")
								.areUsDts
									textarea(class="ctn_arePosal")
						.col_rtUsDts
							.nav_rtUsDts
								ul(class="cntNav_rtUs")
									li(class="acBg actBgNav")
										a(href="", class="event_click_show_info_profile itmNav_rtUs ac_itmNav", data-id=""+resUser._id+"" ,data-type="overview") Overview
									li(class="acBg")
										a(href="", class="event_click_show_info_profile itmNav_rtUs", data-id=""+resUser._id+"" , data-type="feedback") Feedback
									li(class="acBg")
										a(href="", class="event_click_show_info_profile itmNav_rtUs", data-id=""+resUser._id+"" , data-type="contest") Competition Hosted
									li(class="acBg")
										a(href="", class="event_click_show_info_profile itmNav_rtUs", data-id=""+resUser._id+"" , data-type="contest_apply") Competition Participated
									if(user && user._id==resUser._id)
										li(class="acBg")
											a(href="", class="event_click_show_info_profile itmNav_rtUs", data-id=""+resUser._id+"" , data-type="transaction") Transaction Detail
		
				.boxUserName(style="display:none")
					#inlineEditUserName.ctnSup
						form(class="fmSup",method="post", action="/updateInfoUserPr", id="form_post_profile", enctype="multipart/form-data;utf-8")
							.collf_brief.box_style_contestp
								.fmposal
									h3(class="clorg") First name
									.arePosal
										input(type="text", name="first_name_pr_edit", id="first_name_pr_edit")
								.fmposal
									h3(class="clorg") Last name
									.arePosal
										input(type="text", name="last_name_pr_edit", id="last_name_pr_edit")
								
								.fmposal
									.bt_submit.bts_contest_proposal
										input(type="hidden", name="user_type", value="username")
										input(type="submit", value="Submit", id="bt_submit_form_edit_user")	
				.boxSummary(style="display:none")
					#inlineEditSumary.ctnSup
						form(class="fmSup",method="post", action="/updateInfoUserPr", id="form_post_profile", enctype="multipart/form-data;utf-8")
							.collf_brief.box_style_contestp
								.fmposal
									h3(class="clorg") Your summary
									.arePosal
										textarea(class="ctn_arePosal", id="summary_123", style="margin-bottom: 22px;",name="info_user", placeholder="Your Proposal Details")
								.fmposal
									.bt_submit.bts_contest_proposal
										input(type="hidden", name="user_type", value="summary")
										input(type="submit", value="Submit", id="bt_submit_form_edit_user")	
				.boxSlogan(style="display:none")
					#inlineEditSlogan.ctnSup
						form(class="fmSup",method="post", action="/updateInfoUserPr", id="form_post_profile", enctype="multipart/form-data;utf-8")
							.collf_brief.box_style_contestp
								.fmposal
									h3(class="clorg") Your slogan
									.arePosal
										textarea(class="ctn_arePosal", id="slogan_123",style="margin-bottom: 22px;",name="info_user", placeholder="Your Proposal Details")
								.fmposal
									.bt_submit.bts_contest_proposal
										input(type="hidden", name="user_type", value="slogan")
										input(type="submit", value="Submit", id="bt_submit_form_edit_user")
				.boxSkill(style="display:none")
					#inlineEditSkill.ctnSup
						form(class="fmSup",method="post", action="/updateInfoUserPr", id="form_post_profile", enctype="multipart/form-data;utf-8")
							.collf_brief.box_style_contestp
								.fmposal
									h3(class="clorg") Your skill
									.arePosal
										textarea(class="ctn_arePosal",id="skill_123", style="margin-bottom: 22px;",name="info_user", placeholder="Your Proposal Details")
								.fmposal
									.bt_submit.bts_contest_proposal
										input(type="hidden", name="user_type", value="skill")
										input(type="submit", value="Submit", id="bt_submit_form_edit_user")
					
block scripts
	script(src='/javascripts/views/profile.js')