extends ../../layout_font_end

block content
	.container
		if(user)
			input(type="hidden", id="user_id_profile", value=""+user._id+"")
		h2(class="titleMtnIn")= resUser.last_name+" "+resUser.first_name+"'s Profile"
		.compet_main
			.artCompet
				.in_artCompet
					.lstCompet.aCsup
						.f_statis_info
							.fsi_tab
								a(href="Freelancer", id="fsi_freelancer", class="ft_selected") Freelancer
								a(href="Employer", id="fsi_employer") Employer
							h2 Reputation
							h2(style="margin-top:5px; font-size:22px") 4.5
							.list_star
								i
								i
								i
								i
								i
							label (60 reviews)
							.bt_see_more
						.f_img
							if(resUser.avatar.created_at!=undefined)
								img(src='/upload/profile_avatar?type=resize&width=200&height=200&name='+resUser.avatar.public_id+'.'+resUser.avatar.format+'')
							else
								img(src="images/228x190.jpg")
							if(user && user._id.toString()==resUser._id.toString())
								form(method="post", action="/change_avatar_profile_user", id="edit-event-profile-avatar")
									.change_pick_profile_up
										label Change picture
											input(id="photoimg-profile-avatar", type="file", name="photos")
									input(type='hidden', name="id_profile", value=""+resUser._id+"")
						.f_info
							.fi_item
								h2= resUser.last_name+" "+resUser.first_name
							.fi_item
								if(resUser.skill_text!=undefined)
									p= resUser.skill_text
								else
									p Your skill...?
								if(user && user._id==resUser._id)
									a(href="#inlineEditSkill", class="item_edit_pro ctnIn", data-type="edit")
							.fi_item
								if(resUser.slogan!=undefined)
									label= resUser.slogan
								else
									label A perfect blend of creativity, energy, communication, clarity and restraint.
								if(user && user._id==resUser._id)
									a(href="#inlineEditSlogan", class="item_edit_pro iep_slogan ctnIn", data-type="edit")
				.in_artCompet
					.lstCompet.ia_sub_ba_co
						.ial_left
							h2(class="il_h2") Summary
							if(user && user._id==resUser._id)
								a(href="#inlineEditSumary", class="item_edit_pro iep_sumary ctnIn", data-type="edit")
							if(resUser.summary!=undefined)
								p(class="il_p")= resUser.summary
							else
								p(class="il_p") The two length or percentage values of the border-top-left-radius properties define the radii of a quarter ellipse that defines the shape of the corner of the outer border edge. The first value is the horizontal radius, the second the vertical radius. If the second value is omitted it is copied from the first. If either length is zero, the corner is square, not rounded. Percentages for the horizontal radius refer to the width of the border box, whereas percentages for the vertical radius refer to the height of the border box.
						.ial_right
							ul
								li(class="li_ial_selected")
									a(href="") Overview
								li
									a(href="") Feedback
								li
									a(href="") Portfolio
								li
									a(href="") Resume
								li
									a(href="") Exans & Skills
								li
									a(href="") Contest Award
								li
									a(href="") Subcribed Post
								
				.boxSummary(style="display:none")
					#inlineEditSumary.ctnSup
						form(class="fmSup",method="post", action="/updateInfoUserPr", id="form_post_profile", enctype="multipart/form-data;utf-8")
							.collf_brief.box_style_contestp
								.fmposal
									h3(class="clorg") Your summary
									.arePosal
										textarea(class="ctn_arePosal", id="summary_123", style="margin-bottom: 22px;",name="info_user", placeholder="Your Proposal Details")
								.fmposal
									.bt_submit.bts_contest_proposal
										input(type="hidden", name="user_type", value="summary")
										input(type="submit", value="Submit", id="bt_submit_form_edit_user")	
				.boxSlogan(style="display:none")
					#inlineEditSlogan.ctnSup
						form(class="fmSup",method="post", action="/updateInfoUserPr", id="form_post_profile", enctype="multipart/form-data;utf-8")
							.collf_brief.box_style_contestp
								.fmposal
									h3(class="clorg") Your slogan
									.arePosal
										textarea(class="ctn_arePosal", id="slogan_123",style="margin-bottom: 22px;",name="info_user", placeholder="Your Proposal Details")
								.fmposal
									.bt_submit.bts_contest_proposal
										input(type="hidden", name="user_type", value="slogan")
										input(type="submit", value="Submit", id="bt_submit_form_edit_user")
				.boxSkill(style="display:none")
					#inlineEditSkill.ctnSup
						form(class="fmSup",method="post", action="/updateInfoUserPr", id="form_post_profile", enctype="multipart/form-data;utf-8")
							.collf_brief.box_style_contestp
								.fmposal
									h3(class="clorg") Your skill
									.arePosal
										textarea(class="ctn_arePosal",id="skill_123", style="margin-bottom: 22px;",name="info_user", placeholder="Your Proposal Details")
								.fmposal
									.bt_submit.bts_contest_proposal
										input(type="hidden", name="user_type", value="skill")
										input(type="submit", value="Submit", id="bt_submit_form_edit_user")
					
block scripts
	script(src='/javascripts/views/profile.js')